package views

import (
	"fmt"
	"git.32bit.cafe/32bitcafe/guestbook/internal/models"
	"math"
	"slices"
	"strconv"
	"strings"
)

type CommonData struct {
	CurrentYear      int
	Flash            string
	IsAuthenticated  bool
	CSRFToken        string
	CurrentUser      *models.User
	IsHtmx           bool
	RootUrl          string
	LocalAuthEnabled bool
	OIDCEnabled      bool
}

func shortIdToSlug(shortId uint64) string {
	return strconv.FormatUint(shortId, 36)
}

func slugToShortId(slug string) uint64 {
	id, _ := strconv.ParseUint(slug, 36, 64)
	return id
}

func externalUrl(url string) string {
	if !strings.HasPrefix(url, "http") {
		return "http://" + url
	}
	return url
}

func getGroupName(id models.UserGroupId) string {
	switch id {
	case 1:
		return "Admin"
	case 2:
		return "User"
	}
	return "Unknown"
}

templ commonHeader() {
	<header>
		<h1><a href="/">webweav.ing</a></h1>
	</header>
}

templ topNav(data CommonData) {
	{{ hxHeaders := fmt.Sprintf("{\"X-CSRF-Token\": \"%s\"}", data.CSRFToken) }}
	<nav aria-label="Site navigation">
		<div class="nav-welcome">
			<span>
				if data.IsAuthenticated {
					Welcome, { data.CurrentUser.Username }
				}
			</span>
		</div>
		<ul class="nav-links">
			if data.IsAuthenticated {
				<li><a href="/websites">My Websites</a></li>
				<li><a href="/users/settings">Settings</a></li>
				if slices.Contains(data.CurrentUser.Groups, models.AdminGroup) {
					<li><a href="/admin">Admin Panel</a></li>
				}
				<li><a href="#" hx-post="/users/logout" hx-headers={ hxHeaders }>Logout</a></li>
			} else {
				if data.LocalAuthEnabled {
					<li><a href="/users/register">Create an Account</a></li> | 
				}
				<li><a href="/users/login">Login</a></li>
			}
		</ul>
	</nav>
}

templ commonFooter() {
	<footer>
		<p>A <a href="https://32bit.cafe" rel="noopener">32bit.cafe</a> Project</p>
		<ul class="footer-links">
			<li><a href="/about">About</a></li>
			<li><a href="/help">Help</a></li>
		</ul>
	</footer>
}

templ base(title string, data CommonData) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title } - webweav.ing</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="htmx-config" content={ `{"includeIndicatorStyles":false}` }/>
			<link href="/static/css/style.css" rel="stylesheet"/>
			<link href="/static/fontawesome/css/fontawesome.css" rel="stylesheet"/>
			<link href="/static/fontawesome/css/solid.css" rel="stylesheet"/>
			<link href="/static/favicon.png" rel="icon" type="image/x-icon"/>
			<script src="/static/js/htmx.min.js"></script>
		</head>
		<body>
			@commonHeader()
			@topNav(data)
			<main role="main">
				<aside class="notice" role="alert" aria-labelledby="service-status">
					<h3 id="service-status" class="sr-only">Service Status Notice</h3>
					<p><strong>Important:</strong> This service is in a beta state. Please report any bugs or issues to the <a href="https://git.32bit.cafe/32bitcafe/webweav.ing/issues/">git repository</a>.</p>
				</aside>
				if data.Flash != "" {
					<div class="notice flash">{ data.Flash }</div>
				}
				{ children... }
			</main>
			@commonFooter()
		</body>
	</html>
}

templ pagination(baseUrl string, currentPage int64, recordsAmount int64, recordsPerPage int64) {
	{{ totalPages := int64(math.Ceil(float64(recordsAmount) / float64(recordsPerPage))) }}
	<div class="pagination">
		<span class="pagination-btn">
			if currentPage > 1 {
				{{ url := fmt.Sprintf("%s?page=%d&count=%d", baseUrl, currentPage-1, recordsPerPage) }}
				<a href={ templ.URL(url) }>Prev</a>
			} else {
				Prev
			}
		</span>
		for i := range totalPages {
			<span class="pagination-btn">
				{{ url := fmt.Sprintf("%s?page=%d&count=%d", baseUrl, i+1, recordsPerPage) }}
				if i+1 == currentPage {
					{ fmt.Sprintf("%d",i+1) }
				} else {
					<a href={ templ.URL(url) }>{ fmt.Sprintf("%d",i+1) }</a>
				}
			</span>
		}
		<span class="pagination-btn">
			if currentPage < totalPages {
				{{ url := fmt.Sprintf("%s?page=%d&count=%d", baseUrl, currentPage+1, recordsPerPage) }}
				<a href={ templ.URL(url) }>Next</a>
			} else {
				Next
			}
		</span>
	</div>
}
