package views

templ Home(title string, data CommonData) {
    @base(title, data) {
        <h2>Welcome</h2>
        <p>
            Welcome to webweav.ing, a collection of webmastery tools created by the <a href="https://32bit.cafe">32-Bit Cafe</a>.
        </p>
    }
}
