{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ template "title" }} - Guestbook</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1><a href="/">Guestbook</a></h1>
        </header>
        {{ template "nav" . }}
        <main>
            {{ with .Flash }}
                <div class="flash">{{ . }}</div>
            {{ end }}
            {{ template "main" . }}
        </main>
        <footer>
            <p>A 32bit.cafe Project</p>
        </footer>
    </body>
</html>
{{ end }}
