/* html {
  background: lightgray;
} */

body {
  max-width: 1024px;
  margin: 1rem auto;
  padding: 1rem;
  /* background: white; */
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}

body > nav {
  display: flex;
  justify-content: space-between;
}

body > nav ul {
  list-style: none;
  margin: 0 1rem;
  padding: 0;
}

body > nav li {
  display: inline-block;
  padding: 0 0.5rem;
}

nav form {
  display: inline-block;
}

nav button {
  border: none;
  background: none;
  font-family: unset;
  font-size: unset;
  /* color: blue; */
  /* text-decoration: underline; */
  cursor: pointer;
}

main {
  padding: 1rem;
}

div#dashboard {
  display: flex;
  flex-flow: row wrap;
}

div#dashboard nav {
  flex: 1 1 25%;
  margin-top: 2rem;
  min-width: 0;
}

div#dashboard > div {
  flex: 10 1 40%;
  min-width: 0;
}

div > pre {
    max-width: 100%;
    overflow: auto;
}

main nav ul {
  list-style: none;
  margin: 1rem;
  padding: 0;
}

footer {
  text-align: center;
}

a {
  /* color: blue; */
}
